{% extends "layout.html" %}

{% block content %}
	{{ super() }}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{user.nombre}}</td>
					<td>{{user.apellidos}}</td>
					<td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
					<td><a href="/users/{{user.id}}" class="btn btn-default btn-sm">Ver usuario</a></td>
				</tr>
			{% else %}
			<tr>
				<td colspan="3">No hay resultados</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}